@media only screen and (max-width: 1199px) {
    .main-nav ul.nav-bar li {
        margin-left: 20px;
    }
    .services-section .card-title {
        font-size: 20px;
    }
    .dreams-section .section-title h2 {
        font-size: 30px;
    }
    .dreams-section .apply-btn {
        padding: 5px 20px;
    }
}

@media only screen and (max-width: 992px) {
    .main-nav {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
    .section-slider-area {
        padding-top: 30px;
    }
    .slider-text-box h1 {
        font-size: 46px;
    }
    .text-para {
        font-size: 20px;
    }
    .slider-text-box .text-para {
        margin-bottom: 30px;
    }
    .slider-btn {
        margin-bottom: 60px;
    }
    ul.slider-social-media-icon {
        padding-bottom: 34px;
    }
    .section-title h2 {
        font-size: 32px;
    }

    .services-section .section-title {
        margin-bottom: 60px;
        width: 100%;
        padding: 0 20px;
    }
    .card {
        flex-direction: row;
        margin: 20px 0;
    }
    .services-section .card-img-top {
        width: 76px;
        height: 76px;
        margin-top: 80px;
    }
    .services-section .card-text {
        margin-bottom: 20px;
    }
    .services-section .row:last-child {
        margin-top: 0;
    }

    .news-section .section-title {
        width: 100%;
        margin-bottom: 20px;
        padding: 0 20px;
    }
    .news-section .card {
        display: flex;
        flex-direction: row;
    }
    .news-section .card>img {
        padding: 20px;
        width: auto;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .card-body p {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
    }
    .news-section .news-btn {
        margin-top: 40px;
    }


    .events-section.section-p {
        padding: 40px 0;
    }
    .events-section .section-title {
        width: 100%;
        padding: 0 20px;
    }
    .events-section .text-para {
        font-size: 20px;
    }
    .events-slider-single-item {
        margin: 40px 20px;
    }
    .events-slider-single-item .card {
        flex-direction: column;
        padding: 20px;
    }
    .events-section .event-title {
        font-size: 20px;
        line-height: 30px;
    }
    .events-section .event-title:last-child {
        padding-right: 0;
    }
    .events-section .card-title {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .events-section .card-icon {
        display: block;
        padding: 20px;
    }
    .events-section .card-body .text-para {
        font-size: 16px;
    }
    .card-footer-text img {
        width: 26px;
        height: 20px;
        margin-top: 5px;
    }
    .events-section .card-footer-text span {
        font-size: 14px;
    }

    .we-covered-section.section-p {
        padding: 40px 0;
    }
    .section-title {
        width: 100%;
    }
    .we-covered-section .section-title {
        margin-bottom: 0;
    }
    .we-covered-slider-single-item .card {
        flex-direction: column;
    }
    .we-covered-section .card-title {
        font-size: 22px;
        line-height: 22px;
    }

    .testimonial-section.section-p {
        padding: 20px 0;
    }
    .testimonial-section .section-title {
        margin: 0;
    }
    .testimonial-slider-single-item .card{
        flex-direction: column;
    }
    .testimonial-slider-single-item .card-header-text h3 {
        font-size: 20px;
        line-height: 20px;
    }
    .testimonial-slider-single-item .card-header {
        margin-bottom: 16px;
    }
    .testimonial-slider-wrapper .owl-dots {
        padding: 0;
    }
    .dreams-section.section-p {
        padding: 40px 0;
    }
}

@media only screen and (max-width: 768px) {
    .section-slider-area {
        padding-top: 0;
    }
    .slider-text-box h1 {
        padding: 0;
        font-size: 40px;
        line-height: 40px;
    }


    .features-section .section-title {
        margin-bottom: 40px;
    }
    .section-title h2 {
        font-size: 28px;
    }

    .services-section {
        padding: 40px 0;
    }
    .text-para {
        font-size: 18px;
        line-height: 28px;
    }
    .services-section .section-title {
        margin-bottom: 10px;
    }


    .news-section {
        padding: 40px 0;
    }
    .news-section .card {
        flex-direction: column;
    }
    .news-section .card>img {
        padding: 0;
    }
    .news-section .card-link {
        font-size: 20px;
    }

    .we-covered-section .card-title {
        font-size: 20px;
    }

    .dreams-btn {
        text-align: center;
        margin: 20px 0;
    }

    .footer-widget ul {
        padding: 0;
    }
    .address {
        font-size: 16px;
        line-height: 26px;
    }
    .footer-widget ul li {
        margin: 6px 0;
    }
    .footer-widget ul li a {
        font-size: 16px;
        line-height: 26px;
    }
    .social-media-wrapper {
        justify-content: flex-start;
    }
    ul.social-media-icon li {
        margin-right: 20px;
    }
    .footer-copy-rights-content p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 576px) {
    .section-slider-area {
        padding: 0;
        min-height: 70vh;
    }
    .slider-text-box {
        padding-top: 40px;
    }
    .slider-text-box h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .btn {
        font-size: 18px;
    }
    .slider-btn {
        padding: 4px 12px;
        margin-bottom: 40px;
    }
    .section-p {
        padding: 30px 0;
    }
    .section-title h2 {
        font-size: 24px;
        line-height: 24px;
    }
    .text-para {
        font-size: 16px;
        line-height: 24px;
    }
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .services-section .card-img-top {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .news-section .card>img {
        width: 100%;
    }
    .news-section .section-title {
        margin-bottom: 0;
    }

    .news-section .card p span {
        font-size: 14px;
    }
    .news-section .card-body {
        margin: 0;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 10px;
    }
    .news-section .card-link {
        font-size: 16px;
    }

    .events-section .card-icon span:first-child {
        font-size: 20px;
        line-height: 20px;
    }
    .events-section .event-title {
        font-size: 18px;
    }
    .events-section .card-title {
        flex-direction: column;
        align-items: center;
    }
    .events-section .card-icon {
        margin: 0;
    }
    h3.event-title {
        margin-top: 24px;
        padding: 0 40px;
    }
    .events-section .event-title:last-child {
        padding: inherit;
    }
    .events-section .card-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .events-section .card-footer-text {
        margin-top: 10px;
    }

    .we-covered-section .card-title {
        font-size: 18px;
    }
    .testimonial-slider-single-item .card-header-text h3 {
        font-size: 18px;
    }
    .testimonial-slider-single-item .card-header-text span {
        font-size: 16px;
    }
    .testimonial-slider-single-item .card-header-text {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .testimonial-slider-single-item .card-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .testimonial-slider-single-item .card-header .card-header-icon img {
        width: auto;
    }
    .testimonial-slider-single-item .card-header .card-header-icon {
        margin: 0;
    }
    .dreams-section .section-title h2 {
        font-size: 24px;
    }
}
