html {
    scroll-behavior: smooth;
}
body {
    font-family: "Metropolis", 'Sans-serif';
    font-weight: normal;
}

/***************************/
/****REUSABLE-COMPONENTS****/
/***************************/
a.nav-btn, .nav-btn {
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    color: #373737;
    border: 2px solid #717CFF;
    border-radius: 11px;
    padding: 3px 28px 10px 30px;
    transition: 0.3s;
}

a.nav-btn:hover, .nav-btn:hover {
    background: #717CFF;
    border-color: transparent;
    color: #fff;
}
/***************************/
/******HEADER-TOP-AREA******/
/***************************/
.logo {
    display: inline-block;
    float: left;
    margin-top: 34px;
}
.main-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 28px;
}
.nav-bar {
    margin-top: 10px;
}
.main-nav ul.nav-bar {
    list-style: none;
}
.main-nav ul.nav-bar li {
    display: inline-block;
    margin-left: 65px;
    position: relative;
}
.main-nav ul.nav-bar li a {
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    color: #373737;
}
.main-nav ul.nav-bar li:after {
    position: relative;
    content: "";
    bottom: 0;
    left: 0;
    width: 23px;
    height: 3px;
    background: transparent;
    display: block;
    transition: 0.3s;
}
.main-nav ul.nav-bar li.active:after {
    background: #717CFF;
}
.main-nav ul.nav-bar li:hover:after {
    background: #717CFF;
    width: 100%;
}

.nav-btn {
    margin-left: 65px;
}
