/*FONT FACE AREA*/
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Medium.eot');
    src: url('../fonts/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-Medium.woff2') format('woff2'),
    url('../fonts/Metropolis-Medium.woff') format('woff'),
    url('../fonts/Metropolis-Medium.ttf') format('truetype'),
    url('../fonts/Metropolis-Medium.svg#Metropolis-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Bold.eot');
    src: url('../fonts/Metropolis-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-Bold.woff2') format('woff2'),
    url('../fonts/Metropolis-Bold.woff') format('woff'),
    url('../fonts/Metropolis-Bold.ttf') format('truetype'),
    url('../fonts/Metropolis-Bold.svg#Metropolis-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis Semi';
    src: url('../fonts/Metropolis-SemiBold.eot');
    src: url('../fonts/Metropolis-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-SemiBold.woff2') format('woff2'),
    url('../fonts/Metropolis-SemiBold.woff') format('woff'),
    url('../fonts/Metropolis-SemiBold.ttf') format('truetype'),
    url('../fonts/Metropolis-SemiBold.svg#Metropolis-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Black.eot');
    src: url('../fonts/Metropolis-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-Black.woff2') format('woff2'),
    url('../fonts/Metropolis-Black.woff') format('woff'),
    url('../fonts/Metropolis-Black.ttf') format('truetype'),
    url('../fonts/Metropolis-Black.svg#Metropolis-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
/*BASIC SETUP*/
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Metropolis", 'Sans-serif';
    font-weight: normal;
}

/***************************/
/****REUSABLE-COMPONENTS****/
/***************************/
.section-p {
    padding: 55px 0;
}
a.nav-btn, .nav-btn {
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    color: #373737;
    border: 2px solid #717CFF;
    border-radius: 11px;
    padding: 6px 30px;
    transition: 0.3s;
}

a.nav-btn:hover, .nav-btn:hover {
    background: #717CFF;
    border-color: transparent;
    color: #fff;
}
.text-para {
    font-size: 22px;
    font-weight: 500;
    line-height: 38px;
    color: #7D7D7D;
}

.btn {
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    line-height: 40px;
    border-radius: 11px;
    background: #717CFF;
    border: 2px solid transparent;
    outline: none;
    display: inline-block;
    text-transform: capitalize;
}
.btn:hover {
    border-color: #717CFF;
    color: #ddd;
}
.section-title h2 {
    font-size: 37px;
    font-weight: 700;
    line-height: 54px;
    color: #373737;
    text-align: center;
}
/***************************/
/******HEADER-TOP-AREA******/
/***************************/

.navbar-nav li {
    margin-left: 65px;
    display: inline-block;
}

.navbar-nav li:after {
    position: relative;
    content: "";
    bottom: 0;
    left: 0;
    width: 23px;
    height: 3px;
    background: transparent;
    display: block;
    transition: 0.3s;
}
.navbar-nav li:hover:after {
    background: #717CFF;
    width: 100%;
}
.navbar-nav li a {
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    color: #373737;
    display: inline-block;
}
.navbar-nav li.active:after {
    background: #717CFF;
}
.nav-btn {
    margin-left: 65px;
}
/*.logo {*/
/*    display: inline-block;*/
/*    float: left;*/
/*    margin-top: 24px;*/
/*}*/
/*.main-nav {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: flex-end;*/
/*    padding-top: 28px;*/
/*}*/
/*.nav-bar {*/
/*    margin-top: 10px;*/
/*}*/
/*.main-nav ul.nav-bar {*/
/*    list-style: none;*/
/*}*/
/*.main-nav ul.nav-bar li {*/
/*    display: inline-block;*/
/*    margin-left: 65px;*/
/*    position: relative;*/
/*}*/
/*.main-nav ul.nav-bar li a {*/
/*    font-size: 17px;*/
/*    font-weight: 500;*/
/*    text-decoration: none;*/
/*    text-transform: capitalize;*/
/*    color: #373737;*/
/*}*/
/*.main-nav ul.nav-bar li:after {*/
/*    position: relative;*/
/*    content: "";*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: 23px;*/
/*    height: 3px;*/
/*    background: transparent;*/
/*    display: block;*/
/*    transition: 0.3s;*/
/*}*/
/*.main-nav ul.nav-bar li.active:after {*/
/*    background: #717CFF;*/
/*}*/
/*.main-nav ul.nav-bar li:hover:after {*/
/*    background: #717CFF;*/
/*    width: 100%;*/
/*}*/

/*.nav-btn {*/
/*    margin-left: 65px;*/
/*}*/

/*!*MOBILE MENU*!*/
/*.mobile-menu {*/
/*    display: none;*/
/*}*/
/*span.bar-icon {*/
/*    float: right;*/
/*    font-size: 30px;*/
/*    margin-top: 40px;*/
/*    cursor: pointer;*/
/*}*/
/*.overlay {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background: rgba(0, 0, 0, 0.9);*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 99;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*    flex-direction: row-reverse;*/
/*    display: none;*/
/*}*/

/*.overlay-content {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*ul.main-nav-bar {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    list-style-type: none;*/
/*    align-items: flex-end;*/
/*    width: 100%;*/
/*}*/

/*ul.main-nav-bar li {*/
/*    margin: 10px 0;*/
/*}*/

/*ul.main-nav-bar li a {*/
/*    font-size: 24px;*/
/*    font-weight: 500;*/
/*    text-decoration: none;*/
/*    text-transform: capitalize;*/
/*    color: #fff;*/
/*}*/
/*ul.main-nav-bar li a:hover {*/
/*    opacity: 0.7;*/
/*}*/
/*.closebtn {*/
/*    align-self: flex-start;*/
/*    font-size: 50px;*/
/*    margin-top: 20px;*/
/*}*/
/*.mobile-menu a.closebtn:hover {*/
/*    text-decoration: none;*/

/*}*/
/*.mobile-menu a.nav-btn, .nav-btn {*/
/*    padding: 10px 70px;*/
/*    border: 2px solid #717CFF;*/
/*    color: #fff;*/
/*}*/

/*.mobile-menu a.nav-btn:hover, .nav-btn:hover {*/
/*    background: #717CFF;*/
/*}*/
/*BOOTSTRAP MENU*/
/*BOOTSTRAP MENU*/

/*BOOTSTRAP MENU*/
/*BOOTSTRAP MENU*/
/*BOOTSTRAP MENU*/
/*STICKY MENU*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.9);
    width: 100%;
    z-index: 999;
    transition: 0.3s;
}
.sticky .logo {
    margin-top: 14px;
}
.sticky .main-nav {
    padding-top: 14px;
}
.sticky span.bar-icon {
    margin-top: 30px;
}
.sticky .nav-bar {
    margin: 0;
}
/***************************/
/******SLIDER-AREA******/
/***************************/
.section-slider-area {
    padding-top: 75px;
    padding-bottom: 54px;
    min-height: 100vh;
    /*position: relative;*/
    /*z-index: 1;*/
    /*overflow: hidden;*/
    background: url(../img/slider-bg.jpg) no-repeat center bottom;
    background-size: cover;
}

.slider-woman-bg:after {
    position: absolute;
    content: "";
    background: url(../img/slider-overlay.png) no-repeat bottom right;
    bottom: -30%;
    right: -35%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.slider-text-box {
    padding-top: 75px;
}

.slider-text-box h1 {
    font-size: 56px;
    font-weight: 900;
    padding-right: 140px;
    line-height: 56px;
    margin-bottom: 32px;
}

.slider-text-box h1 span {
    color: #717CFF;
}

.slider-text-box .text-para {
    overflow: hidden;
    margin-bottom: 36px;
}
.slider-btn {
    padding: 8px 34px 12px;
    margin-bottom: 100px;
}
.slider-btn span:last-child {
    margin-left: 29px;
}
ul.slider-social-media-icon {
    list-style: none;
    padding-bottom: 54px;
    margin: 0;
    padding-left: 0;
}
ul.slider-social-media-icon li {
    display: inline-block;
    margin-right: 15px;
}
ul.slider-social-media-icon li a {
    display: inline-block;
    font-size: 26px;
}
ul.slider-social-media-icon .fa-facebook-f {
    color: #3C5B9A;
}

ul.slider-social-media-icon .fa-twitter {
    color: #236CD9;
}

ul.slider-social-media-icon .fa-instagram {
    color: #FF5552;
}

/***************************/
/******FEATURES-AREA******/
/***************************/

.features-section {
    background: #FAFAFA;
}
.features-section .section-title{
    width: 100%;
    text-transform: uppercase;
    opacity: .73;
    margin-bottom: 70px;
    font-size: 23px;
    font-weight: 500;
    line-height: 23px;
    color: #373737;
    text-align: center;
}
.slider-area {
    width: 100%;
}
.features-slider-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.features-slider-single-item {
    margin: 0 37px;
}
.owl-dots {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
button.owl-dot {
    background: #7C7C7C !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    text-align: center;
    margin: 0 10px;
    opacity: 0.32;
    border: none;
    outline: 0;
}
button.owl-dot.active {
    background: #717CFF !important;
    width: 14px;
    height: 14px;
    opacity: 1;
}
.owl-carousel .owl-dots.disabled {
    display: block;
}

/***************************/
/******SERVICES-AREA******/
/***************************/

.services-section {
    padding: 65px 0;
}

.services-section .section-title {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 78px;
}
.services-section .card {
    box-shadow: 0 0 77px rgba(0,0,0,0.06);
    border: none;
    border-radius: 15px;
}
.services-section .card-img-top {
    width: 76px;
    height: auto;
    margin: 16px 30px;
}

.services-section .card-body {
    padding: 22px;
    padding-right: 16px;
}

.services-section .card-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    color: #37474F;
    margin-bottom: 10px;
}
.services-section .card-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #37474F;
    margin-bottom: 42px;
}

.services-section .card-link {
    font-size: 17px;
    font-weight: 700;
    line-height: 17px;
    color:#717CFF;
}

.services-section .card-link img {
    margin-left: 12px;
}

.services-section .row:last-child {
    margin-top: 50px;
}

/***************************/
/******NEWS-AREA******/
/***************************/
.news-section {
    padding: 60px 0;
    background: #FAFAFA;
}
.news-section .section-title {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
}
.news-section .card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 6px 42px rgba(0, 0, 0, 0.16);
    border: none;
}
.news-section .card-body {
    padding: 26px;
    margin-bottom: 28px;
}
.news-section .card p {
    margin: 0;
    margin-bottom: 12px;
}
.news-section .card p span{
    font-size: 16px;
    font-weight: 600;
    color: #565656;
    line-height: 16px;
    margin-left: 12px;
}

.news-section .card-link {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    color: #252525;
}

.news-section .news-btn {
    display: block;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 142px;
}

.news-section .news-btn span {
    margin-left: 14px;
}
/***************************/
/******EVENTS-AREA******/
/***************************/
.events-section.section-p {
    padding: 94px 0;
}

.events-section .section-title {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.events-slider-wrapper {
    width: 100%;
}

.events-slider-single-item {
    margin: 120px 22px;
}

.events-section .card {
    padding: 30px;
    border: none;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
}
.events-section .card-icon {
    width: 76px!important;
    height: 76px;
    background: #EBEDFF;
    border-radius: 11px;
    display: inline-block;
    float: left;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    margin-right: 20px;
}
.events-section .card-icon span:first-child {
    font-size: 26px;
    font-weight: 700;
    color: #717CFF;
    line-height: 27px;
    display: block;
}
.events-section .card-icon span:last-child {
    font-size: 18px;
    font-weight: 600;
    color: #717CFF;
    line-height: 18px;
}

.events-section .card-body {
    padding: 0;
}

.events-section .card-footer {
    display: flex;
    justify-content: space-between;
}

.events-section .event-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    color: #37474F;
}

.events-section .event-title:last-child {
    padding-right: 20px;
}

.events-section .text-para {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(55, 71, 79, 0.75);
    margin: 0;
    margin-bottom: 16px;
}

.events-section .card-footer {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
}

.card-footer-btn {
    display: flex;
}

.events-section .card-footer-btn a {
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    color: #717CFF;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.events-section .card-footer-btn a img {
    margin-left: 10px;
}
.events-section .card-footer-text {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.events-section .card-footer-text span {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: #373737;
}

.owl-carousel .owl-item img {
    display: flex;
    max-width: 100%;
    width: auto;
}
/***************************/
/******WE-COVERED-AREA******/
/***************************/
.we-covered-section {
    background: #FAFAFA;
}
.we-covered-section.section-p {
    padding: 90px 0;
}
.section-title {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 56px;
}
.we-covered-slider {
    width: 100%;
}
.we-covered-slider-wrapper {
    display: flex;
    width: 100%;
}

.we-covered-slider-single-item {
    margin: 0 22px;
}

.we-covered-section .card {
    border: none;
    background: #FAFAFA;
}

.we-covered-section .card-title {
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    color: #37474F;
}

.we-covered-section .text-para {
    font-size: 16px;
    overflow: hidden;
    line-height: 27px;
}

/***************************/
/******TESTIMONIAL-AREA******/
/***************************/
.testimonial-section {
    background: #fff;
}
.testimonial-section.section-p {
    padding: 80px 0;
}
.testimonial-slider-area {
    width: 100%;
}
.testimonial-slider-wrapper {
    display: flex;
}
.testimonial-slider-single-item {
    padding: 20px;
}
.testimonial-slider-single-item .card {
    border: none;
    border-radius: 28px;
    background: #fff;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.04);
    padding: 30px;
}

.testimonial-slider-single-item .card-header {
    background: none;
    border: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 28px;
}
.testimonial-slider-single-item .card-header .card-header-icon {
    margin-right: 20px;
}
.testimonial-slider-single-item .card-header .card-header-icon img {
    width: 100%;
}
.testimonial-slider-single-item .card-header-text h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    color: #37474F;
    margin: 0;
}
.testimonial-slider-single-item .card-header-text span {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    color: #37474F;
    opacity: 0.6;
}
.testimonial-slider-single-item .card-body {
    padding: 0;
}

.testimonial-slider-wrapper .owl-dots {
    padding-top: 60px;
}
/***************************/
/******DREAMS-AREA******/
/***************************/
.dreams-section {
    background: #FAFAFA;
}
.dreams-section.section-p {
    padding: 90px 0;
}
.dreams-section .section-title {
    margin: 0;
    padding: 0;
    width: 100%;
}
.dreams-section .section-title h2 {
    color: #252525;
    margin: 0;
}
.apply-btn {
    padding: 8px 34px 12px;
    display: inline-block;
}

/***************************/
/******FOOTER-AREA******/
/***************************/
.footer-section {
    background: #717CFF;
}

.footer-section.section-p {
    padding: 60px 0;
}
.footer-widget ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer-widget ul li {
    margin: 10px 0;
}

.footer-widget ul li a {
    color: #EEEEEE;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}
.footer-logo {
    margin-bottom: 16px;
}

.address {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    color: #EEEEEE;
}
.social-media-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
ul.social-media-icon {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

ul.social-media-icon li {
    margin: 0 10px;
}
.footer-copy-rights-content p {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    color: #EEEEEE;
    margin: 0;
}